header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.22rem 0.28rem;

  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

header .iconfont {
  font-size: 0.4rem;
}

header .title {
  font-size: 0.3rem;
}

/* 中间打广告 */
.banner img {
  width: 100%;
  vertical-align: top;
}

/* 优惠活动 */
.discount {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  background-color: #fff;

  margin: 0.16rem 0;
}

.discount .iconfont {
  width: 0.9rem;
  height: 0.9rem;
  background-color: red;
  padding: 0.25rem;
  border-radius: 50%;

  font-size: 0.7rem;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.discount .desc {
  flex: 1;
  margin-left: 0.32rem;
}

.discount .note {
  display: flex;
  align-items: center;
}

.discount .note .title {
  font-size: 0.3rem;
}

.discount .note .tag {
  color: red;
  font-size: 0.16rem;

  padding: 0.06rem 0.12rem;
  margin-left: 0.18rem;
  border: 1px solid red;
  border-radius: 0.06rem;
}

.discount .note .time {
  font-size: 0.22rem;
  color: #999;
  margin-left: auto;
}

.discount .msg {
  display: flex;
  margin-top: 0.16rem;
}

.discount .msg .title {
  color: #999;
}

.discount .msg .num {
  margin-left: auto;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  background-color: red;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 推荐头 */
.rec-hd {
  padding: 0.3rem 0;
  color: red;
  font-size: 0.28rem;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

/* 商品列表 */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pro-item {
  width: 49.5%;
  background-color: #fff;
  margin-bottom: 0.06rem;
}

.pro-item img {
  width: 100%;
  height: 3.75rem;
}

.pro-item .detail {
  padding: 0.14rem 0.2rem;
}

.pro-item .detail .title {
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.pro-item .tags {
  margin-top: 0.2rem;
  margin-bottom: 0.22rem;
}

.pro-item .tag {
  padding: 0.02rem 0.04rem;
  background-color: #fff1eb;
  color: #ff6e28;
  border-radius: 0.06rem;
}

.pro-item .foot {
  display: flex;
  align-items: center;
}

.pro-item .price {
  font-size: 0.36rem;
  color: red;
}

.pro-item .price::before {
  content: "￥";
  font-size: 0.7em;
}

.pro-item .count {
  color: #999;
}

.pro-item .users {
  margin-left: auto;
}

.pro-item .user {
  width: 0.44rem;
  height: 0.44rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
}

.pro-item .user:not(:last-child) {
  transform: translateX(60%);
  /* margin-right: -0.3rem; */
}

.pro-item .user img {
  width: 0.44rem;
  height: 0.44rem;
}
