body {
  width: 1260px;
  background-color: #f8f8f8;

  font-size: 12px;
  line-height: 28px;
  color: #333;

  margin: auto;
}

.container {
  padding-left: 132px;
  padding-right: 131px;
}
.link {
  text-decoration: none;
  font-size: 12px;
  color: #666;
}

.link-hv-deep:hover {
  color: #0051ac;
}

.link-hv-light:hover {
  color: #6ca1dd;
}

.brow {
  height: 34px;
  background-color: #2e2e33;

  color: white;
  line-height: 34px;
}

.brow a {
  text-decoration: none;
  color: #fff;
}

.brow form {
  float: right;
  height: 24px;
  width: 174px;

  display: flex;
  margin-top: 3px;
  background: #fff url(../images/PHPOK_033.jpg) no-repeat right 4px center;
}

.brow form input {
  border: none;
  outline: none;
  flex-grow: 1;

  padding: 6px 0;
  background-color: transparent;
}

.brow form input::placeholder {
  color: #a9a9a9;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header a {
  display: inline-block;
  line-height: 24px;
  margin: 0 9px;
  padding: 0 4px;
}

header a.active {
  color: #0051ac;
  border-bottom: 3px solid #0051ac;
}

.banner {
  height: 349px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 22px;
  line-height: 34px;
}

.infos {
  height: 360px;
  display: flex;
  justify-content: space-between;
}

.infos .section-title {
  border-bottom: 2px solid #ccc;
  margin-bottom: 9px;
}

.infos h3 a {
  float: right;

  text-decoration: none;
  font-size: 12px;
  color: #00a2e9;
}

.info {
  width: 320px;
}

.info li {
  line-height: 28px;
  list-style: none;
}

.info li .date {
  float: right;
}

.cases {
  margin-top: 26px;
}

.cases h3 a {
  float: right;
  text-decoration: none;
  height: 30px;

  background: #6abb07 url(../images/PHPOK_077.jpg) no-repeat 10px center;

  font-size: 12px;
  line-height: 30px;
  color: white;

  padding: 0 12px 0 30px;
  border-radius: 4px;
}

.cases-body {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.case {
  width: 320px;
  margin-top: 40px;
}

.case p {
  background-color: #f1f1f1;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.f-links {
  margin-bottom: 29px;
}

.f-links .section-title {
  margin: 16px 0;
}

.f-links .link {
  margin-right: 12px;
}

.footer {
  height: 265px;
  background-color: #222;
  color: #8e8e8e;

  position: relative;
}

.footer .container {
  display: flex;
}

.footer dl {
  float: left;
  margin-top: 20px;
}

.footer dt {
  font-size: 16px;
  line-height: 3;
  color: #fff;
}

.footer dd {
  font-size: 12px;
  line-height: 28px;
}

.footer .col-1 {
  width: 140px;
}

.footer .col-2 a {
  color: #666;
}

.footer .col-2 {
  width: 235px;
}

.footer .col-3 dt {
  color: #d5741d;
}

.footer .col-3 a {
  display: flex;
  align-items: center;
}

.footer .col-3 a img {
  width: 15px;
}

.footer .col-3 {
  position: relative;
}

.footer .col-3 .chat {
  position: absolute;
  top: 34px;
  right: -25px;
  width: 78px;
  height: 24px;

  line-height: 1;
  font-size: 0.9em;
  padding: 5px 5px 5px 20px;
  border-radius: 4px;
  background-color: #81caec;
  cursor: pointer;

  background-image: url(../images/PHPOK_40.jpg);
  background-repeat: no-repeat;
  background-position: 6px center;
}

.footer .col-3 .chat::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;

  width: 0;
  height: 0;
  border-top: 8px solid #81caec;
  border-right: 15px solid transparent;
}

.footer .col-3 .chat::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;

  width: 0;
  height: 0;
  border-top: 10px solid #222;
  border-right: 4px solid transparent;
}

.footer .weixin {
  position: absolute;
  top: 34px;
  right: 20px;
}

.footer .qq {
  position: absolute;
  top: 94px;
  right: 20px;
}

.copyright {
  height: 88px;
  background-color: #101010;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright .logos {
  margin-left: 142px;
}

.copyright .logos img:not(:first-child) {
  margin-left: 8px;
}

.copyright .data {
  color: #8e8e8e;
  margin-right: 142px;
  text-align: right;
}
