.tabs {
  background-color: #fff;
}

.news {
  background-color: #fff;
}

.news ul {
  /* width: 1168px; */
  margin: 0 auto;
  padding-top: 34px;
}

.news .news-item {
  height: 255px;
  margin-top: 20px;
  padding-left: 5px;
  border-bottom: 1px solid #eee;
}

.news .news-item .img-wrapper {
  float: left;
  padding: 6px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.news .news-item .img-wrapper img {
  width: 300px;
  height: 180px;
  transition: 0.3s;
}

.news .news-item .img-wrapper img:hover {
  transform: scale(1.5);
}

.news .news-item .detail {
  width: 805px;
  float: left;
  margin-left: 20px;
}

.news .news-item .detail h3 {
  font-size: 16px;
  line-height: 26px;
}

.news .news-item .detail p {
  font-size: 12px;
  line-height: 24px;
  color: #959595;

  transition: 0.3s;
}

.news .news-item .detail p:hover {
  font-size: 18px;
  line-height: 2;
}

.news .news-item .detail .meta {
  color: #c4cad8;
  margin-bottom: 10px;
  margin-top: 13px;
}

.news .news-item .detail .more-link {
  float: right;
  font-size: 12px;
  line-height: 28px;

  padding: 0 12px;
  border-radius: 5px;

  transition: 0.3s;
}

.news .news-item .detail .more-link.active {
  background-color: #00bfb0;
  color: white;
}

.news .news-item .detail .more-link:hover {
  background-color: #00bfb0;
  color: white;

  transform: scale(1.2) translateX(25px);
}
