body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}

.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.hide {
  display: none !important;
}

a:hover {
  color: #ff6700;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
